body{
    background-color: rgb(223, 174, 238);

}

.navegador li a{
     padding-bottom: 10px;
     text-decoration: none;
     color: white;
     height: 50px;
     width: 120px;
     background-color: pink;
     text-align: center;
     border-radius: 5px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-around;
 }

 .navegador ul{
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
 }

 .navegador {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header h2{
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.buscador {
    padding-top: 10px;
}

ul .canciones{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

ul .discos{ 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul .cantantes{ 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aCancion{
    text-decoration: none;
    color: black;
}

.aDiscos{
    text-decoration: none;
    color: black;
}

.aCantantes{
    text-decoration: none;
    color: black;
}

.detailartist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


article.artist img{
    width: inherit;
    margin-top: 10px;
    height: 250px;
    object-fit: cover;
}

article.artist > li{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

article.artist > h1{
    margin: 3px 0px;
}

article.artist > h3{
    margin: 3px 0px;
}

article.artist{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}


.artist {
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 250px;
    margin: 10px 20px;
}


img {
    width: 280px;
    border-radius: 100px;
}

h1 {
    font-family: 'Beau Rivage', cursive;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.19);
}
.discos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.disco{
    width: 250px;
    margin: 30px;
}

.disco-img{
    width: inherit;
}

.genre{
    height: 30px;
}

.tab{
    margin-right: 15px;
}

.home-list-element{
    width: 250px;
    text-align: center;
    margin: 20px 0px;
}

.home-img{
    width: inherit;
    margin-top: 10px;
    height: 250px;
    object-fit: cover;
}

article.cantantes li{
    width: 250px;
    text-align: center;
    margin: 20px 0px;
}

article.cantantes li img{
    width: inherit;
    margin-top: 10px;
    height: 250px;
    object-fit: cover;
}

article.canciones li{
    width: 250px;
    text-align: center;
    margin: 20px 0px;
}