body{
    background-color: rgb(223, 174, 238);

}
.navegador a{
    padding-bottom: 10px;
     text-decoration: none;
     color: white;
     height: 50px;
     width: 120px;
     background-color: pink;
     text-align: center;
     border-radius: 5px;

 }
 .navegador {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

header h2{
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}

.buscador {
    padding-top: 10px;
}
.aCancion{
    text-decoration: none;
    color: black;
}
.aDiscos{
    text-decoration: none;
    color: black;
}
.aCantantes{
    text-decoration: none;
    color: black;
}

.detailartist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.artist {
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 30%;
}

section {
    margin-top: 30px;
}

img {
    width: 280px;
    border-radius: 100px;
}

h1 {
    font-family: 'Beau Rivage', cursive;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
